.numbers-table {
  display: grid;
  /*  grid-template-columns: repeat(
    5,
    1fr
  );  Each row will have up to 5 columns */

  grid-template-columns: repeat(
    auto-fill,
    minmax(50px, 1fr)
  ); /* Adjust based on content */

  max-width: 250px; /* Ensure the table doesn't expand too much, 5 x 50px */
  gap: 0px; /* No space between squares */
  margin: 0 auto; /* Centers the grid horizontally */
}

.square {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  box-sizing: border-box; /* Ensure the border is included in the element's total width and height */
  font-size: 18px;
}
